input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    margin: auto;
    text-align:center;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password],select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
  }
  
  input[type=email],select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 38%;
    background-color: #080808;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 6%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #71880a;
    
  }
  
  div {
    border-radius: 5px;
    /* border: 2px solid; */
    /* background-color: ; */
    padding: 20px;
    text-align: center;
    
  }
  .signupFrm{
    width: 50%;
    border: 2px solid;
  background: linear-gradient(to bottom, #ff9933 0%, #66ff99 100%);
}
.message{
      padding: 1px;
      color: #290001;
}
 
